#title{

    font-weight: bold;
    font-size: 1.8em;
    font-family: 'Lato', sans-serif;
}

#category{
    font-size: 1.4em;
    font-style: italic;
    font-family: 'Lato', sans-serif;
}
#create-button{

    margin-top: 30px;
}